@model IEnumerable<Signally.Models.Order>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Orders" asp-action="Details" asp-route-id="@item.OrderId">@item</a>

                </td>
            </tr>
        }
    </tbody>
</table>